<main class="p-5">
    <div class="row g-5">
        <div class="col-12">            
                <label class="form-label">Email</label>
                <input class="form-control">
                <div class="form-text text-danger">Error ...</div>            
        </div>
        <div class="col-3">            
                <label class="form-label">Email</label>
                <input type="color" class="form-control">
                <div class="form-text text-danger">Error ...</div>            
        </div>
        <div class="col-12">            
                <label class="form-label">Email</label>
                <div class="row">
                    <div class="col-2">
                        <input type="color" class="form-control form-control-lg">
                    </div>
                    <div class="col-2">
                        <input type="color" class="form-control">
                    </div>
                </div>
                <div class="form-text text-danger">Error ...</div>            
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-3 pt-1">
                    <label class="form-label">EmailLLLLLLLLLLLLLLLLLLLLLLLLLLLL</label>
                </div>
                <div class="col-2">
                    <input class="form-control form-control-sm">
                </div>
                <div class="col-1 pt-2">
                    <div class="form-text text-danger">Error ...</div>
                </div>
            </div>                            
        </div>
    </div>

<hr>

    <div class="col-12">
        <label class="form-label">Select Role</label>
        <select class="form-select">
            <option selected>Open list</option>
            <option value="1">Admin</option>
            <option value="2">User</option>
        </select>    
        <div class="form-text text-success">... Connection</div>
    </div>
<hr>   
    <div class="row">
        <div class="col-5">
            <div class="form-label">Check food</div>
            <div class="form-check">
                <label class="form-check-label">Apple</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Orange</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Banana</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
        </div>
    <hr>
        <div class="col-5">
            <div class="form-label">Choose food</div>
            <div class="form-check">
                <label class="form-check-label">Apple</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Orange</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Banana</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
        </div>
        <hr>
        <div class="col-5">
            <div class="form-check form-switch">
                <label class="form-check-label">Really?</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
        </div>
    </div>

    <div>
        <div></div>
    </div>

<br>
<br>
<br>
<br>
<br>
    <div class="row g-2">
        {{!-- <div class="col-12">            
            <div class="nav nav-tabs">
                <div class="nav-item">                            
                    <a href="01" class="nav-link active">Link 101</a>
                </div>                        
                <div class="nav-item">
                    <a href="01" class="nav-link disabled">Link 102</a>
                </div>                        
                <div class="nav-item">
                    <a href="01" class="nav-link">Link 103</a>
                </div>                        
                <div class="nav-item">
                    <a href="01" class="nav-link">Link 104</a>
                </div>                    
            </div>
        </div> --}}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item">
                            <div class="card">
                                <a href="01" class="nav-link active">Link 201</a>
                            </div>
                        </div>
                        <div class="nav-item my-2">
                            <div class="card">
                                <a href="01" class="nav-link disabled">Link 202</a>
                            </div>
                        </div>                        
                        <div class="nav-item">
                            <div class="card">
                                <a href="01" class="nav-link">Link 203</a>
                            </div>
                        </div>
                        <br>
                        <div class="nav-item">
                            <div class="card">
                                <a href="01" class="nav-link">Link 204</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
                    <div class="nav flex-column">
                        <div class="nav-item">
                            <div class="card">
                                <a href="01" class="nav-link active">Link 201</a>
                            </div>
                        </div>
                        <div class="nav-item my-2">
                            <div class="card">
                                <a href="01" class="nav-link disabled">Link 202</a>
                            </div>
                        </div>                        
                        <div class="nav-item">
                            <div class="card">
                                <a href="01" class="nav-link">Link 203</a>
                            </div>
                        </div>
                        <br>
                        <div class="nav-item">
                            <div class="card">
                                <a href="01" class="nav-link">Link 204</a>
                            </div>
                        </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="005">GO Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="005">GO PC</a>
                        </li>
                        <li class="breadcrumb-item">
                            <span>GO Cart</span>
                        </li>
                    </ol>
                </div>
            </div>
            
        </div>
        <div class="col-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="005">GO Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="005">GO PC</a>
                        </li>
                        <li class="breadcrumb-item">
                            <span>GO Cart</span>
                        </li>
                    </ol>
        </div>
    </div>

<br>
<br>
<div class="col-12">
    <div class="alert alert-secondary">
        <h6>Hello! <span class="badge text-bg-success rounded-pill text-uppercase">New</span></h6>
        <button class="btn btn-outline-warning rounded-pill">Begemot</button>
    </div>
</div>
<br>
<button class="btn btn-warning m-5">Begemotyk</button>
<div class="alert alert-danger">
    Very important!
</div>
<br>
<br>


<br>
<br>
<br>
    <div class="row gy-4 gx-2">
        <div class="col-4">
            <div class="card text-bg-warning">    
                <div class="card-header">HEAD</div>
                <div class="card-body">
                    <h6 class="card-title text-center">TITLE</h6>
                    <p>texttexfg ttexttedf xttextj exttextkhj texttekj xttex</p>
                    <button class="btn btn-outline-dark">Klick</button>
                </div>
                <div class="card-footer text-end">It's Good!</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-secondary">    
                <div class="card-header">HEAD</div>
                <div class="card-body">
                    <h6 class="card-title text-center">TITLE</h6>
                    <p>texttexfg ttexttedf xttextj exttextkhj texttekj xttex</p>
                    <button class="btn btn-outline-dark">Klick</button>
                </div>
                <div class="card-footer text-end">It's Good!</div>
            </div>
        </div>
        <div class="col-5">
            <div class="card text-bg-danger">    
                <div class="card-header">HEAD</div>
                <div class="card-body">
                    <h6 class="card-title text-center">TITLE</h6>
                    <p>texttexfg ttexttedf xttextj exttextkhj texttekj xttex</p>
                    <button class="btn btn-outline-dark">Klick</button>
                </div>
                <div class="card-footer text-end">It's Good!</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-warning">    
                <div class="card-header">HEAD</div>
                <div class="card-body">
                    <h6 class="card-title text-center">TITLE</h6>
                    <p>texttexfg ttexttedf xttextj exttextkhj texttekj xttex</p>
                    <button class="btn btn-outline-dark">Klick</button>
                </div>
                <div class="card-footer text-end">It's Good!</div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-bg-secondary">    
                <div class="card-header">HEAD</div>
                <div class="card-body">
                    <h6 class="card-title text-center">TITLE</h6>
                    <p>texttexfg ttexttedf xttextj exttextkhj texttekj xttex</p>
                    <button class="btn btn-outline-dark">Klick</button>
                </div>
                <div class="card-footer text-end">It's Good!</div>
            </div>
        </div>
    </div>

<br>
<br>

<div  class="row gy-5">    
    <section class="col-9">
        <div class="card text-bg-success">    
            <div class="card-header">HEAD 1</div>
            <div class="card-body">
                <h6 class="card-title text-center">TITLE</h6>
                <p>texttexfg ttexttedf xttextj exttextkhj texttekj xttex</p>
                <button class="btn btn-outline-dark">Klick</button>
            </div>
            <div class="card-footer text-end">It's Good!</div>
        </div>
    </section>
    <section class="col-9">
        <div class="card text-bg-primary">    
            <div class="card-header">HEAD 2</div>
            <div class="card-body">
                <h6 class="card-title text-center">TITLE</h6>
                <p>texttexfg so exttextkhj texttekj xttex</p>
                <button class="btn btn-outline-dark">Klick</button>
            </div>
            <div class="card-footer text-end">Very Good!</div>
        </div>
    </section>
</div>


<br>
<br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    #name
                </th>
                <th>
                    #age
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    1
                </th>
                <td>
                    Jo
                </td>
                <td>
                    35
                </td>
            </tr>
            <tr>
                <th>
                    2
                </th>
                <td>
                    Lu
                </td>
                <td>
                    36
                </td>
            </tr>
        </tbody>
    </table>

<br>
<br>
<br>
    
    <div class="card">
        <img src="https://picsum.photos/400/200" alt="photo" class="card-img-top"></img>
        <div class="card-body">
            <h5 class="card-title text-bg-warning">Title</h5>
            <p>Bla-la-la</p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
<br>
<br>
<br>
<br>
    
     <div class="card text-bg-success">
        <div class="card-header">
            <h5 class="card-title">Menu</h5>
        </div>
                <div class="list-group text-bg-secondary">
                    <p>OOOOOOOOOOOOOOOj</p>
                    <div class="list-group-item">Kuz_01</div>
                    <div class="list-group-item">Kuz_02</div>
                    <ul class="list-group-item">
                        <li class="list-group-item">
                            <a href="#" class="btn btn-link">ku-ku-01</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="btn btn-link">ku-ku-02</a>
                        </li>
                    </ul>
                </div>
                  
        <a href="#" class="btn btn-primary">Close</a>  
        <br>
        <p>__Another</p>  

        <div class="card-footer">
            <button class="btn btn-dark"">Next</button>
        </div>    
    </div>

<br>
<br>
<br>
<br>
    <h1>First</h1>
    <h2 class="text-capitalize">Second text in current test</h2>
    <h3 class="text-uppercase">Third</h3>

    <hr>

    <div class="display-4 text-muted">First</div>
    <div class="display-5 text-center">Second</div>
    <div class="display-6 text-end">Third</div>
    
    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary btn-lg">First button</button>
            <br>
            <br>
            <button class="btn btn-secondary"> Second button</button>
            <br>
            <br>
            <button class="btn btn-outline-info">Third button</button>
        </div>
    </div>

    <hr>

    <p class="text-primary">Texto texty texta test</p>
    
    <hr>

    <div class="card">
        <div class="card-body">
            Texto texty texta test
        </div>
    </div>

</main>