<main>
    <h1>First</h1>
    <h2 class="text-capitalize">Second text in current test</h2>
    <h3 class="text-uppercase">Third</h3>

    <hr>

    <div class="display-4 text-muted">First</div>
    <div class="display-5 text-center">Second</div>
    <div class="display-6 text-end">Third</div>
    
    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary btn-lg">First button</button>
            <br>
            <br>
            <button class="btn btn-secondary"> Second button</button>
            <br>
            <br>
            <button class="btn btn-outline-info">Third button</button>
        </div>
    </div>

    <hr>

    <p class="text-primary">Texto texty texta test</p>
    
    <hr>

    <div class="card">
        <div class="card-body">
            Texto texty texta test
        </div>
    </div>

</main>