{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<h1>My Pet Project</h1>
<br>
<hr>
<br>
{{> nav}}
<div>
    <i>Other Pages:</i> 
    {{> link text="Person" href="/person" line=true}}
    {{> link text="Bio" href="/bio" line=true}}
    {{> link text="Program" href="/program" noLine=true}}
</div>
<br>
<br>
<hr>
<br>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}