<!DOCTYPE html>
<html>
    <head>
        <title>{{page}}</title>
        <meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
         <style>
            main {margin-left: 30px;}
         </style>
        
        <link href='css/index.css' rel='stylesheet' />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    </head>
{{{body}}}  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <footer>
        <br>
        <hr>
        <br>
        <div>
        <i>Other Pages:</i> 
        {{> link text="Person" href="/person" line=true}}
        {{> link text="Bio" href="/bio" line=true}}
        {{> link text="Program" href="/program" line=true}}
        {{> link text="Web" href="/web" noLine=true}}        
        </div>
        <div>
        <i>Pages vs using bootstrap:</i> 
        {{> link text="JS" href="/js" line=true}}
        {{> link text="Car" href="/car" line=true}}
        {{> link text="Mac" href="/mac" line=true}}
        {{> link text="Facebook" href="/facebook" noLine=true}}
        </div>
        <div>
        <i>Pages by Copied design:</i> 
        {{> link text="Task 2-1" href="/task21" line=true}}
        {{> link text="Task 2-2" href="/task22" line=true}}
        {{> link text="Task 3-1" href="/task31" line=true}}
        {{> link text="Task 4-1" href="/shophome" line=true}}
        {{> link text="Task 5-1" href="/shoporder" line=true}}
        {{> link text="Task 6-1" href="/shopcart" line=true}}
        {{> link text="Task 7-1" href="/shopreview" noLine=true}}
        
        </div>
    </footer>
</html>