<!DOCTYPE html>
<html>
    <head>
        <title>My Pet Project</title>
        <meta charset='utf-8' />
        <link href='css/index.css' rel='stylesheet' />
    </head>
{{{body}}}  
    <br>
<em>Copyright by Ivan Ivanov</em>
</html>